body {

    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;

}

.container {

    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 900px;
    margin: auto;

}

.header {

    padding: 15px;
    background: #020617;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #1e293b;

}

.chat {

    flex: 1;
    overflow-y: auto;
    padding: 20px;

}

.message {

    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
    max-width: 70%;

}

.user {

    background: #2563eb;
    margin-left: auto;

}

.bot {

    background: #1e293b;

}

.input-area {

    display: flex;
    padding: 10px;
    background: #020617;

}

input {

    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

}

button {

    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {

    background: #1d4ed8;

}

.upload-btn {

    background: #475569;

}